<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyApp</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    
    <div active="active">
        <ul class="nav nav-tabs nav-justified">
            <li class="tab nav-item active" index="0" heading="Tab 1">
            <a href="" class="nav-link">Tab 1</a>
            </li>
            <li class="tab nav-item" index="1" heading="Tab 2">
            <a href="" class="nav-link">Tab 2</a>
            </li>
            <li class="tab nav-item" index="2" heading="Tab 3">
            <a href="" class="nav-link">Tab 3</a>
            </li>
        </ul>
        <div class="tab-pane">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, voluptate, sint odio accusamus excepturi ea doloribus possimus repellendus ut incidunt ad laborum facere est quae ex itaque expedita. Commodi, beatae.</span>
        </div>
        <div class="tab-pane">
            <span>Aliquid, sequi, deserunt, laboriosam sunt dolore corrupti dolorem possimus rerum ducimus vel minima porro quo nam. Aliquid, at, impedit, vitae, neque voluptate doloribus animi reprehenderit nostrum harum libero obcaecati facilis?</span>
        </div>
        <div class="tab-pane">
            <span>Mollitia, dolores sapiente laboriosam itaque facilis voluptate voluptas tenetur beatae consequuntur quos corporis harum quas tempore iusto eligendi! Nihil, est incidunt laborum illo repellat facilis doloribus. Expedita, libero quod laudantium?</span>
        </div>
    </div>
</body>

</html>